@tailwind base;
@tailwind components;
@tailwind utilities;

/* 导入自定义字体 */
@font-face {
  font-family: 'SegoeUIBlack';
  src: url('/fonts/SegoeUIBlack.ttf') format('truetype'),
    url('/fonts/SegoeUIBlack.woff') format('woff'),
    url('/fonts/SegoeUIBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  text-rendering: optimizeLegibility;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

html.light {
  --bg-color: theme('colors.zinc.50');
}

html.dark {
  --bg-color: theme('colors.primary.900');
}

[data-radix-popper-content-wrapper] {
  z-index: 99999 !important;
}

[data-floating-ui-portal] {
  z-index: 100000;
}

::selection {
  background-color: theme('colors.lime.500');
  color: theme('colors.lime.950');
}

@keyframes typing-pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes scroll-banner {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-banner {
  animation: scroll-banner 40s linear infinite;
  width: 200%;
  /* 确保容器宽度是图片的两倍，实现无缝滚动 */
  display: flex;
}